<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.0.3/TestDatabaseApi/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="SomaDbApi.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
